.edit-content {
    padding: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    width: 48%;
    max-width: 655px;
    margin: 0 auto;
    gap: 40px;
}

.address-group {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-top: 35px;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.input {
    padding: 12px 8px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
    font-family: serif;
}

.error {
    min-height: 20px;
    color: red;
    font-size: 16px;
    margin-top: 4px;
}

.update-button {
    padding: 16px 0;
    margin: 30px 0;
    background-color: #FF5555;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}