.header {
    background: #000;
    height: 80px;
    width: 100%;
    max-width: 1512px;
    padding: 0 40px;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.img-logo {
    height: 40px;
    width: auto;
}

.header-search {
    flex: 1;
    margin: 0 60px;
    max-width: 500px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.header-search::placeholder {
    color: #000000;
}

.header-nav {
    margin-right: 40px;
}

.header-nav__inner {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.mypage {
    text-decoration: none;
    font-weight: bold;
    color : #FFFFFF;
    font-size: 16px;
    transition: 0.2s;
}

.logout {
    background: #000;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.sell {
    background-color: #FFFFFF;
    color: #000;
    padding: 8px 18px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;
}

.main {
    width: 100%;
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
}

/* @media screen and (max-width: 1540px) {
   

} */