.all-contents {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;  */
    /* min-height: 95px; */
    width: 100%;
    max-width: 1512px;
        margin: 0 auto;
}

.top-content {
    /* margin: 80px 0; */
    border-bottom: 1px solid #000;
}

.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0 30px 0;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 80px;
}

.image-area {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ddd;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-size: 30px;
    font-weight: bold;
}

.edit-button {
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    background: none;
    padding: 8px 45px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 80px;

}

.category {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    margin: 40px 0 0 150px;
}



.seller-item {
    text-decoration: none;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 22px;
}

.buyer-item {
    text-decoration: none;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 22px;
}

.active {
    color: #FF5555;
}

.under-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 50px auto 0;
    width: 100%;
}

.product-content {
    width: 20%;
    aspect-ratio: 1 / 1.2;
    position: relative;
    overflow: visible;
}

.product-link {
    text-decoration: none;
    position: absolute;
    inset: 0;
}

.product-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.detail-content {
    margin-top: 10px;
}

.product-name {
    font-size: 18px;
    color: #000000;
}